build --cxxopt='-std=c++17' -c opt --copt=-fdiagnostics-color=always
test --cxxopt='-std=c++17' -c opt 
run --cxxopt='-std=c++17' -c opt --copt=-fdiagnostics-color=always

#--copt="-pg" --cxxopt="-pg" --linkopt="-pg"

#-c fastbuild|opt|dbg 