build -c opt --copt=-fdiagnostics-color=always --copt=-march=native --cxxopt='-std=c++17'
test -c opt
run -c opt

#--copt="-pg" --cxxopt="-pg" --linkopt="-pg"

#-c fastbuild|opt|dbg 

#--copt=-fdiagnostics-color=always

#--cxxopt='-std=c++17'

# bazel run --cxxopt='-march=native' --cxxopt='-O3' sfml