build -c opt --copt=-fdiagnostics-color=always --cxxopt='-O3'
test -c opt
run -c opt

#--copt="-pg" --cxxopt="-pg" --linkopt="-pg"

#-c fastbuild|opt|dbg 

#--copt=-fdiagnostics-color=always

#--cxxopt='-std=c++17'